RewriteEngine on

RewriteCond %{HTTP_HOST} !^$
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTPS}s ^on(s)|
RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]


# Cambiar sudominio.com por su nombre de dominio
RewriteCond %{HTTP_HOST} ^(www.)?fruityeva.com$
# Cambiar 'subdirectory' por el nombre del subdirectorio que quiere usar
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Cambiar 'subdirectory' por el nombre del subdirectorio que quiere usar
RewriteRule ^(.*)$ /public/$1
# Cambiar sudominio.com por su nombre de dominio
# Cambiar 'subdirectory' por el nombre del subdirectorio que quiere usar
RewriteCond %{HTTP_HOST} ^(www.)?fruityeva.com$


Options -Indexes #prevents access to folders
RewriteRule ^free?$ ./public/pages/free.html
RewriteRule ^index?$ ./public/index.html
